#include <stdio.h>
#define LIMIT 42

typedef struct {
    const char *name;
    int count;
} User;

int main(void) {
    User user = {0, LIMIT};
    printf("%s (%d)\n", user.name, user.count);
    return 0;
}
